%% -*- erlang -*-
{erl_opts, [debug_info]}.
%% dependencies
{deps, [
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx"}},
    {qdate, ".*", {git, "https://github.com/choptastic/qdate.git"}},
    {yamerl, ".*", {git, "https://github.com/yakaz/yamerl"}},
    {kvc, "*", {git, "https://github.com/etrepum/kvc"}}
]}.

%% set missing date or time values to the current date or current time
{qdate, [
    {deterministic_parsing, {now, now}}
]}.

%% EUnit =============================================================
{eunit_opts, [verbose,
    {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
