%% -*- erlang -*-

{require_min_otp_vsn, "R15B03"}.

%% Erlang compiler options
{erl_opts, [ warn_unused_vars
           , warn_export_all
           , warn_shadow_vars
           , warn_unused_import
           , warn_unused_function
           , warn_bif_clash
           , warn_unused_record
           , warn_deprecated_function
           , warn_obsolete_guard
           , strict_validation
           , warn_export_vars
           , warn_exported_vars
           , warn_missing_spec
           , warn_untyped_record
           , debug_info]}.

{profiles, [
  {test, [
    {deps, [
     {triq, {git, "https://github.com/krestenkrab/triq"}}
    ]}
  ]},
  {shell, [
    {deps, [
      {sync, {git, "https://github.com/rustyio/sync"}}
    ]}
  ]}
]}.

%% dependencies

{deps, [
    {jsx, {git, "https://github.com/talentdeficit/jsx"}},
    {qdate, {git, "https://github.com/choptastic/qdate.git"}},
    {yamerl, {git, "https://github.com/yakaz/yamerl"}},
    {kvc, {git, "https://github.com/etrepum/kvc"}}
]}.

%% set missing date or time values to the current date or current time
{qdate, [
    {deterministic_parsing, {now, now}}
]}.

%% == Dialyzer ==

{dialyzer, [ {warnings, [ no_return
                        , unmatched_returns
                        , error_handling
                        ]}
           , {plt_apps, top_level_deps}
           , {plt_extra_apps, []}
           , {plt_location, local}
           , {base_plt_apps, [stdlib, kernel]}
           , {base_plt_location, global}]}.

%% == Cover ==

{cover_enabled, true}.

{cover_opts, [verbose]}.


%% == Shell ==

{shell, [{apps, [sync]}]}.
