%% -*- erlang -*-

{require_min_otp_vsn, "R15B03"}.

{erl_opts, [debug_info]}.

%% dependencies
{deps, [
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx"}},
    {qdate, ".*", {git, "https://github.com/choptastic/qdate.git"}},
    {yamerl, ".*", {git, "https://github.com/yakaz/yamerl"}},
    {kvc, ".*", {git, "https://github.com/etrepum/kvc"}},
    {triq, ".*", {git, "https://github.com/krestenkrab/triq"}}
]}.

%% set missing date or time values to the current date or current time
{qdate, [
    {deterministic_parsing, {now, now}}
]}.
